.page {
    width: 900px;
    height: 950px;
    background-color: rgb(204, 204, 204)
}
.div1 {
    background-color: rgb(64, 8, 117);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 20px;
}

.div2{
    background-color: rgb(90, 25, 45);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 20px;
}

.div3 {
    background-color: rgb(59, 146, 24);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 20px;
}

img{
    width: 200px;
    border: 2px solid black;
    background-color: skyblue;
    margin: 15px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    margin: 0px;
}

p {
    text-align: center;
    font-size: larger;
}